<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header bordered-title-box">
      <h1 class="section-header--title bordered-title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>